
.Home{
  display: flex;
  flex-direction: column;
  top: 180px;
}

@media (max-width: 600px) {
  
}
.home-product-list{
  top: 140px;
}
.home-filter{
  z-index: 0;
}

@media (prefers-color-scheme: dark) {
  
}
