@import 'vars';

.menu {
	width: 300px;
	height: auto;
	border: 3px solid $--gris;
	border-radius: 12px;
	padding: 20px 20px 0 20px;
	position: absolute;
	top: 150px;
	right: 0px;
	background: $--secundario-2;
	opacity: 93%;

  }
  .menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: self-start;
  }
  .menu ul li {
	text-align: end;
  }
  .menu ul li {
	font-weight: bold;
  }
  .menu ul li:last-child {
	padding-top: 20px;
	border-top: 1px solid $--principal-2;
  }
  .menu ul li:last-child a {
	color: $--principal-2;
	font-size: $--sm;
  }
  .menu ul li a {
	color: $--white;
	text-decoration: none;
	margin-bottom: 20px;
	display: inline-block;
  } 

  @media (max-width: 640px) {

	.menu {
		width: 100%;
	}
  }